.navbar {
    background-color: #ea3d63
}

.social {
    margin-right: 0.5rem;
}
.access{
    background-color: #9e3685;
}

.nav-link{
    color: white;
}

img {
    height: 2.5rem;
    /*alto*/
    margin: 0.2rem;
}

.btn {
    border-width: medium;
    /*borde del boton*/
    margin-left: 1rem;
}
.direct{
    text-align: center;
}
div ul {
    display: flex;
    justify-content: space-around;
    
}
#education div ul {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

div ul li a {
    font-size: 14px;
    color: white;
    text-align: center
}

/* Para la vista desde un celular - barra navegación*/
@media (max-width: 575px) {
    /* .container-fluid {
        flex-direction: column;
    } */

    .social {
        display: flex;
        justify-content: space-evenly;
        /* flex-direction: column; */
        align-items: center;
        /*margin-bottom: 0.2em;*/
        flex-wrap: wrap;
    }

    .social img {
        margin: 0.2em;
    }

    div ul{
        display: flex;
        /* justify-content: space-evenly; */
        align-items: center;
        /* padding-left: 5px; */
        /* padding-right: 5px; */
        flex-wrap: wrap;
    }
}

/* _______BANNER________ */

.img-banner {
    width: 100%;
    height: auto;
}

/* __________Persona_______________ */
.row {
    margin-top: 1rem;
    /* padding: 2rem; */
    /* background-color:#ea3d63; */
    /* border: 0.5rem dotted #ea3d63; */
    display: flex;
    align-items: center;
}

#person{
    margin-top: 0.5rem;
    padding: 1rem;
    border: 0.5rem dotted #ea3d63;
}

.col-sm-2,
.col-sm-4,
.col-sm-5 {
    text-align-last: center;
}

#myname {
    font-weight: bold;
    text-align: center;
}

.titlesection {
    text-align: center;
}

/* Estilo de la foto de perfil */
@media (min-width: 576px) {
    #myphoto {
        border-radius: 50%;
        box-shadow: 0.1rem 0.1rem 0.2rem 0.1rem #ea3d63;
        /* position: absolute;*/
        
    }

    .img-fluid {
        max-width: 90%;
    }

    #myname {
        margin-top: 3rem;
    }
    
}

@media (max-width: 575px) {
    #myphoto {
        border-radius: 50%;
        box-shadow: 0.1rem 0.1rem 0.2rem 0.1rem #ea3d63;
        position: relative;
    }

    #myname {
        margin-top: 1.5rem;
    }

    .img-fluid {
        max-width: 80%;
    }
    #avatar{
        display: grid;
        justify-items: center;
        align-items: center;
        }
}
/* _________Educación_________________ */

#education{
    margin-top: 0.5rem;
    padding: 2rem;
    border: 0.5rem dotted #5330a9;
}

h2,
h3 {
    display: inline;
    text-align: justify;
}
.study{
    margin-top: 0.5rem;
    margin-bottom: 1rem;
    text-decoration: underline; /*#5330a9;*/
}
ul .cursos {
    list-style-type: none;
    /* no default bullets */
}

.edu-img{
    max-width: 7rem; 
    height: auto; 
    position: relative;
    margin: 1rem auto;
}

 ul .cursos:before {
    content: "";
    background-color: #993688;
    border-radius: 50%;
    display: inline-block;
    margin-left: -1.6em;
    margin-bottom: 0.5em;
    margin-right: 1em;
    height: .5em;
    width: .5em;
}