@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

h2,
h3 {
    display: inline;
    text-align: justify;
}

ul {
    list-style-type: none;
    /* no default bullets */
}

p {
    margin-bottom: 0;
}

.cursos p {
    margin-bottom: 0.5rem;
}

.firma p {
    text-align: center;
}

/* ____________________________ */
.navbar {
    background-color: #ff3b63;
    /*#ea3d63*/
}

/* .social {
    margin-right: 0.5rem;
} */
.access {
    background-color: #9e3685;
}

.nav-link {
    color: white;
}

.navbar img {
    height: 2.5rem;
    /*alto*/
    margin: 0.2rem;
}

.btn {
    border-width: medium;
    /*borde del boton*/
    margin-left: 1rem;
}

.direct {
    text-align: center;
    margin-bottom: 0rem;
    padding: 0rem;
}

div ul {
    display: flex;
    justify-content: space-around;
}

#education div ul {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

div ul li a {
    font-size: 14px;
    color: white;
    text-align: center
}

/* Para la vista desde un celular - barra navegación*/
/* hasta este tamaño, de 0 a 575*/
@media (max-width: 575px) {
    .container-fluid {
        flex-direction: column;
    }

    .social {
        display: flex;
        justify-content: space-evenly;
        /* flex-direction: column; */
        align-items: center;
        flex-wrap: wrap;
    }

    .social img {
        margin: 0.2em;
    }

    div ul {
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
    }
}


/* _______BANNER________ */

.img-banner {
    width: 80%;
    height: auto;
}

/* __________Persona_______________ */
.row {
    display: flex;
    align-items: center;
    justify-content: center;
}

#person {
    margin-top: 0.5rem;
    padding: 1rem;
    border: 0.5rem dotted #ff3b63;
    /*#ea3d63;*/
}

.col-sm-2,
.col-sm-4,
.col-sm-5 {
    text-align: center;
}

description-me {
    text-align: center;
}

#myname {
    font-weight: bold;
    text-align: center;
    display: flex;
    justify-content: space-around;
}

.titlesection {
    text-align: center;
}

#avatar {
    display: flex;
    justify-content: space-around;
}

/* Estilo de la foto de perfil */
@media (min-width: 576px) {
    #myphoto {
        border-radius: 50%;
        box-shadow: 0.1rem 0.1rem 0.2rem 0.1rem #ff3b63;
        /* #ea3d63;*/
        /* position: absolute;*/
    }

    .img-fluid {
        max-width: 90%;
    }


}

@media (max-width: 575px) {
    #myphoto {
        border-radius: 50%;
        box-shadow: 0.1rem 0.1rem 0.2rem 0.1rem #ff3b63;
        /*#ea3d63;*/
        position: relative;
    }

    #myname {
        margin-top: 1.5rem;
    }

    .img-fluid {
        max-width: 80%;
    }

    #avatar {
        display: grid;
        justify-items: center;
        align-items: center;
    }
}

/* _________Educación_________________ */

#education {
    margin-top: 0.5rem;
    padding: 2rem;
    padding-bottom: 0rem;
    border: 0.5rem dotted #5330a9;
}

.study {
    margin-top: 0.5rem;
    margin-bottom: 1rem;
    text-decoration: underline;
    /*#5330a9;*/
}

.edu-img {
    max-width: 12rem;
    height: auto;
    position: relative;
    margin: 0.5rem auto;
    justify-content: space-around;
}

ul .cursos::before {
    content: "";
    background-color: #993688;
    border-radius: 50%;
    display: inline-block;
    margin-left: -1.7em;
    margin-bottom: 0.5em;
    margin-right: 1em;
    height: .5em;
    width: .5em;
}

/* ______Experiencia_______________________ */
#works {
    margin-top: 0.5rem;
    padding: 2rem;
    padding-bottom: 0rem;
    border: 0.5rem dotted #993688;
}

ul .exp:before {
    content: "";
    background-color: #993688;
    border-radius: 50%;
    display: inline-block;
    margin-left: -1.6em;
    margin-bottom: 0.5em;
    margin-right: 1em;
    height: .5em;
    width: .5em;
}

.exp p {
    text-align: justify;
}

/* ______Habilidades_______________________ */
#skills {
    margin-top: 0.5rem;
    padding: 2rem;
    border: 0.5rem dotted #993688;
}

.container.mySkill {
    /* display: flex;
    width: 50em;
    padding: 50px 0;
    border-radius: 8px;
    background: #009de6;
    row-gap: 1em;
    flex-direction: column;
    align-items: center; */
    display: flex;
    width: 12em;
    padding: 0.5rem 0;
    border-radius: 2em;
    background: #ff3b63;
    /*#7a7a7a;*/
    row-gap: 0.5em;
    flex-direction: column;
    align-items: center;
    margin: 0.5rem;
}

.circular-progress {
    position: relative;
    height: 8em;
    width: 8em;
    border-radius: 50%;
    /* background-color: #ea3d63; */
    background: conic-gradient(#9e3685 3.6deg, #fdeef1 0deg);
    /*(#ea3d63 3.6deg, #fdeef1 0deg);*/
    display: flex;
    align-items: center;
    justify-content: center;
}

.circular-progress::before {
    /* content: "";
    position: absolute;
    height: 10em;
    width: 10em;
    border-radius: 50%;
    background-color: #fff; */
    content: "";
    position: absolute;
    height: 6em;
    width: 6em;
    border-radius: 50%;
    background-color: #fff;

}

.progress-value {
    position: relative;
    font-size: 2em;
    font-weight: 600;
    color: #ff3b63;
    /*-#ea3d63;*/
}

#skills .text {
    font-size: 1.3em;
    font-weight: 500;
    color: #fff
        /*#606060 #993688;*/
}

/* _____________Footer________________ */
.firma {
    justify-items: center;
}

#footer {
    padding-top: .5rem;
}

.footer {
    background-color: #ff3b63;
    color: white;
    font-size: 0.9rem;

    display: flex;
    align-items: center;
    justify-content: space-around;
}

/* #footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
} */
.footer img {
    height: 2.5rem;
    /*alto*/
    margin: 0.2rem;
}

@media (max-width: 575px) {
    .footer {
        flex-direction: column-reverse;
    }
}

/* _________Projects_________________ */
#projects {
    margin-top: 0.5rem;
    padding: 2rem;
    border: 0.5rem dotted #ff3b63;
}

.project-img {
    position: relative;
    margin: 1rem auto;
}

/* ________Contact__________________________________ */

#contact {
    margin-top: 0.5em;
    padding: 2em;
    padding-bottom: 0rem;
    border: 0.5rem dotted #993688;
}

.contenedor-contacto {
    background-color: #fff;
    line-height: 1.9;
    color: #8c8c8c;
    position: sticky;
}

.contenedor-contacto :before {
    z-index: -1;
    position: absolute;
    height: 60vh;
    content: "";
    top: 0;
    left: 0;
    right: 0;
    background: #993688;
}

#contact .content {
    padding: 4rem 0;
}

.form-control {
    border: none;
    border-bottom: 1px solid #ccc;
    padding-left: 0;
    padding-right: 0;
    border-radius: 0;
    background: none;
}

.form-control:active,
.form-control:focus {
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-color: #000;
}

.col-form-label {
    color: #000;
    font-size: 13px;
}

.contact-wrap {
    -webkit-box-shadow: 0 0em 1em 0 rgba(0, 0, 0, 0.2);
    box-shadow: 0 0em 1em 0 rgba(0, 0, 0, 0.2);
}

.contact-wrap .col-form-label {
    /* font-size: 14px; */
    color: #b3b3b3;
    margin: 0;
    display: inline-block;
    padding: 0;
}

.contact-wrap .form,
.contact-wrap .contact-info {
    padding: 2em;
}

.contact-wrap .contact-info {
    color: rgba(255, 255, 255, 0.5);
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
}

.contact-wrap .contact-info ul li {
    margin-bottom: 15px;
    color: rgba(255, 255, 255, 0.5);
    display: flex;
    flex-wrap: wrap;
}

.contact-wrap .contact-info ul li .wrap-icon {
    /* font-size: 20px; */
    color: #fff;
    margin-top: 5px;
}

.contact-wrap .form {
    background: #fff;
}

.contact-wrap .form h3 {
    color: #ff3b63;
    /*#35477d;*/
    font-size: 20px;
    margin-bottom: 30px;
}

.contact-wrap .contact-info {
    background: #ff3b63;
}

/*#35477d; }*/
.contact-wrap .contact-info h3 {
    color: #fff;
    font-size: 20px;
    margin-bottom: 30px;
    text-align: left;
}

label.error {
    font-size: 12px;
    color: #ff3b63;
    /* red;*/
}

#message {
    resize: vertical;
}

#form-message-warning,
#form-message-success {
    display: none;
}

#form-message-warning {
    color: #B90B0B;
}

#form-message-success {
    color: #55A44E;
    font-size: 18px;
    font-weight: bold;
}

.submitting {
    float: left;
    width: 100%;
    padding: 10px 0;
    display: none;
    font-weight: bold;
    font-size: 12px;
    color: #000;
}

.msj{
    padding-right: 0;
    background-color: white;
}
.data{
    padding-left: 0;
    background-color: #ff3b63;
}

#contact div ul{
    flex-direction: column;
    align-items: self-start;
}

#contact .btn.btn-outline-light{
    background-color: #ff3b63;
}

.send{
    display: flex;
    justify-content: center;
}
/* .contact-wrap {
    background: #993688;
} */

/*#projects p{
    text-align: justify;
}*/
/* .d-flex{
    justify-content: center
}

.titlecont{
    display: flex;
    align-items: center;
} */

/*Colores rosa #dd3c69 #ea3d63 #e93d63 ff3b63
          azul #512ea9 #5330a9 #502fa8; 
          lila #9e3685 #993688 #953588*/